@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;

    background: hsl(217, 54%, 11%);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background:hsl(216, 50%, 16%);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 350px;
    height: 600px;
    border-radius: 3%;
}

.equilibrium {
    margin: 0px 25px;
    width: 300px;
    height: 300px;
    border-radius: 3%;
    
}

.equilibrium:hover {
    cursor: pointer;

}

h1 {
    position: relative;
    top: 5px;
    left: 5px;
    margin-left: 20px;
    font-size: 22px;
    color: white;
    font-weight: 600;
}

h1:hover {
    cursor: pointer;
    color: hsl(178, 100%, 50%);
}

.text {
    margin: 0px 25px;
    font-size: 18px;
    font-weight: 300;
    color: hsl(215, 51%, 70%);
    line-height: 1.6rem;
}

.card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
}

.spacing {
    position: relative;
    top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 24px;
}

#eth {
    margin: 0px 5px;
    font-size: 17px;
    color: hsl(178, 100%, 50%);
    font-weight: 500;
}

#days {
    margin: 0px 5px;
    color: hsl(215, 51%, 70%);
}

.foot {
    border-top: 0.1px solid;
    border-color: hsl(215, 32%, 27%);
    padding-top: 1.5rem;
    margin: 0.5rem 30px;
    display: flex;
    align-items: center;
}

#author {
    position: relative;
    bottom: 5px;
    right: 5px;
    margin: 0px 20px;
    font-size: 16px;
    font-weight: 300;
    color:hsl(215, 51%, 70%);
}

span {
    color: white;
}

span:hover {
    cursor: pointer;
    color: hsl(178, 100%, 50%);
}

#bighead {
    position: relative;
    bottom: 5px;
    right: 5px;
    border: 1px solid white;
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

@media (min-width: 320px) and (max-width: 480px) {
    main {
        width: 300px;
        height: 500px;
    }
    .equilibrium {
        margin-top: 10px;
        width: 250px;
        height: 250px;
    }

    h1 {
        font-size: 18px;
    }

    .text {
        font-size: 14px;
    }

    #author {
        font-size: 14px;
    }
}
